<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCart</title>
    <script src="../Scripts/cartjavascript.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/cart.css">
</head>

<body onload="cartItems()">
    <h2>List of Items in your cart</h2>
    <div class="" id="cartItemsContainer">
        <!-- <img src="../images/art1.jpg" alt="" width="250" height="200">
        <div class="alldescription">
            <div class="description">
                <h1>Artwork 1</h1>
                <h3>Price: $150</h3>
            </div>
            <div class="quantity">
                <h3>Quantity:1</h3>
            </div>
            <div class="deletebtn">
            <button type="button" id="delBtn">Remove</button>
        </div>
        </div> -->
        

    </div>
</body>

</html>