<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poc</title>

</head>
<style>
    .pocContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h2{
        order: 3;
    }
</style>

<body>
    <div class="pocContainer">
        <h2> Lakshmi </h2>
        <h2> Manasa</h2>
        <h2>Pothakamuru</h2>
    </div>

</body>

</html>